*{
    margin: 0;
    padding: 0;
    background-color:rgb(242,242,242);
}
.main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* vh: view height */
    height: 100vh;
}
.box-style {
    width: 350px;
    height: 460px;
    margin: 0 40px;
    background-color:rgb(255,255,255);
    display: flex;
    align-items: flex-end;
}
.add-cart-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(39,200,164);
}
.add-cart-1-span {
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}
.add-cart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(39, 154, 200);
}
.add-cart-2-span {
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}
.add-cart-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(200, 39, 39);
}
.add-cart-3-span {
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
}