*{
    margin: 0;
    padding: 0;
    background-color:rgb(242,242,242);
}
.main-box {
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    justify-content: center;
    flex-direction: row;
    /* vh: view height */
    height: 100vh;
}
.box-style {
    width: 300px;
    margin: 0 40px;
    background-color:white
}
.box-1 {
    border: 3px solid rgb(250,0,0);
    display: inline-block;
    padding: 0 25px;
}
.box-2 {
    border: 3px dotted rgb(226,135,67);
    display: inline-block;
    height: 450px;
    padding: 0 25px;
}
.box-3 {
    border: 3px dashed rgb(237, 250, 0);
    display: inline-block;
    height: 450px;
    padding: 0 25px;
}
.box-4 {
    border: 8px double rgb(0, 250, 17);
    display: inline-block;
    height: 450px;
    padding: 0 25px;
}
p {
    font-size: 1.4em;
    text-align: justify;
    padding: 0 25px;
    font-family: initial;
    background-color: white;
}