* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
/*     height: 72px; */
    background-color: dodgerblue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    width:100%;
    text-align:right;
    list-style: none;
}
li {
    display: inline-block;
    position: relative;
    width: 250px;
    text-align: center;
}
a {
    color:  white;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    line-height: 3em; 
}
a:hover {
    background-color: rgb(3, 46, 90);
    cursor: pointer;
}
.icon-style {
    margin-right: 8px;
    font-size: 0.75em;
}
.icon-sd {
    font-size: 0.9em;
    position: relative;
    left: 35px;
}
.child-menu {
    position: absolute;
    display: none;
    overflow: hidden;
    color: black;
    max-height: 0;
    transition: max-height 1s;
}
.main-menu > li:hover > .child-menu {
    position: absolute;
    display: block;
    overflow: visible;
    color: black;
    max-height: 500px;
    background-color: dodgerblue;
    transition: max-height 1s;
}
.hamburguer-menu {
    display: none;
}
@media only screen and (max-width: 750px) {
    .box-hamburguer {
        width: 100%;
        height: 72px;
        background-color: rgb(220, 8, 8);
        position: fixed;
    }
    .hamburguer-menu {
        color: white;
        font-size: 1.5em;
        position: relative;
        right: 15px;
        bottom: 15px;
    }
    nav {
        margin-top: 66px;
        height: calc(100% - 40px);
        width: 80%;
        position: fixed;
    } 
    .main-menu {
        text-align: left;
    }
    .main-menu > li {
        text-align: left;
    }
}
