* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  background-color: rgb(64, 64, 64);
  height: 70px;
}
nav ul {
  background-color: rgb(64, 64, 64);
  list-style: none;
  position: absolute;
  width: 100%;
}
/* menu de primer nivel */
nav > ul > li {
  width: 250px;
  font-size: 1.4rem;
  float: left;
  line-height: 70px;
  text-align: center;
  position: relative;
}
nav > ul {
  margin-left: 40px;
}
ul li {
  position: relative;
}
li:hover {
  background-color: rgb(189, 233, 188);
  cursor: pointer;
}
a {
  color: rgb(17, 201, 195);
  text-decoration: none;
}
/* menu de segundo nivel */
nav li li {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
nav li:hover > ul > li {
  overflow:  visible;
  max-height: 500px;
/*   border: 1px solid rgb(255,255,255, .2); */
  transition: all 0.5s;
}
/* menu de tercer nivel */
nav ul ul ul {
  left: 100%;
  top: 0;
}
i {
  margin-left: 5px;
  transition: rotate 0.5s;
  color: rgb(17, 201, 195);
}