<<<<<<< HEAD
*{
=======
* {
>>>>>>> devyair
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}
<<<<<<< HEAD

header {
  height: 100px;
  width: 100%;
  z-index: 10;
}

.main-content {
  display: grid;
  grid-template:"empty-left box-left empty-center box-info empty-right" 400px /
                  240px        1fr      180px        1fr     240px;
  z-index: 10;                
}
.box-left {
  grid-area: box-left;
  grid-template: "box-img"
                  "box-thumbnail" /
                  1fr;
=======
body {
  display: grid;
  grid-template: "empty-left content empty-right" 400px /
                  1fr        1100px  1fr
}
.content {
  grid-area: content;
/*   background-color: gainsboro; */
}
header {
  display: flex;
  grid-template: "main-title main-menu carrito-foto" /
                  150px      1fr       90px;
  align-items: center;
  width: 100%;
  height: 100px;
}
.main-title {
  font-family: 'kanit' , sans-serif;
  font-weight: 800;
  font-size: .9em;
  color: rgb(48, 48, 48);
}
.box-main-content {
  display: grid;
  align-items: center;
  height: calc(100vh - 100px);
}
.main-content {
  margin-top: 20px;
  display: grid;
  grid-template:"empty-left box-left empty-center box-info empty-right" 400px /
                 40px       450fr    120px        1fr      40px;
  z-index: 10;
  height: 600px;
}
.main-menu {
  display: flex;
  flex-direction: row;
  color: rgb(96, 96, 96);
  list-style: none;
  padding-left: 40px;
}
.main-menu li {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0 25px;
}
.main-menu li:hover {
  border-bottom: 2px solid rgb(255, 125, 26);
  cursor: pointer;
}
.carrito-foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}
.icon-carrito {
  font-size: 1.6em;
  padding-right: 360px;
}
.foto {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  box-shadow: 0 -4px 5px rgb(96, 96, 96);
}
.box-left {
  grid-area: box-left;
  grid-template:"box-img"
                "box-thumbnail" /
                1fr
>>>>>>> devyair
}
.box-img {
  grid-area: box-img;
}
<<<<<<< HEAD

.main-img {
  width: 100%;
  border-radius: 20px;
=======
.main-img{
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.box-img-fixed {
  width:100%;
  height:100vh;
  position: fixed;
  background-color: #00000097;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.box-img-fixed-hidden {
  display: none;
>>>>>>> devyair
}
.main-img-fixed {
  width: 500px;
  border-radius: 20px;
}
<<<<<<< HEAD
.box-icons {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: wheat;
=======
.icon-style{
  font-size: 1.2em;
}
.img-hidden {
  display: none;
}
.box-icons{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
>>>>>>> devyair
  display: flex;
  position: relative;
  justify-content: center;
<<<<<<< HEAD
}
.box-icons:hover {
  cursor: pointer;
}
.icon-syle {
  font-size: 1.2em;
}
.img-hidden {
  display: none;
}
.box-icons-left {
  position: relative;
  top: -275px;
  left: -25px;
}
.box-icons-right {
  position: relative;
  top: -325px;
  left: 475px;
}
.box-img-fixed {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #00000097;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-img-selected {
  width: 500px;
  height: 500px;
=======
  align-items: center;
}
.box-icons:hover {
  cursor: pointer;
  color: rgb(5, 5, 255);
}
.box-icons-left{
  position: relative;
  top:-275px;
  left: -25px;
}
.box-icons-right{
  position: relative;
  top:-325px;
  left: 475px;
}
.box-img-selected {
  width: 500px;
  height: 500px;
}
.box-boton-cerrar {
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 400;
  font-family: sans-serif;
  top:-650px;
  left: 470px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}
.boton-cerrar {
  cursor: pointer;
>>>>>>> devyair
}
.box-thumbnail {
  grid-area: box-thumbnail;
  display: grid;
<<<<<<< HEAD
  grid-template: "thumb-1 thumb-2 thumb-3 thumb-4" /
                  1fr     1fr     1fr      1fr
}

.thumb-1 {
  grid-area: thumb-1;
}
.thumb-2 {
  grid-area: thumb-2;
}
.thumb-3 {
  grid-area: thumb-3;
}
.thumb-4 {
  grid-area: thumb-4;
}
.thumb {
  width: 100%;
  border-radius: 30px;
  padding: 15px;
}
.box-info {
=======
  grid-template:"thumb-1 thumb-2 thumb-3 thumb-4" /
                 1fr     1fr     1fr     1fr
}
.thumb-1 {
grid-area: thumb-1;   
}
.thumb-2 {
  grid-area: thumb-2;   
}
.thumb-3 {
  grid-area: thumb-3;   
}
.thumb-4 {
  grid-area: thumb-4;
}
.thumb {
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.thumb:hover {
  opacity: 0.7;
}
.box-thumb {
  margin: 15px;
}
.box-thumb:hover {
  position: relative;
  background-color: rgba(98, 98, 98, 0.9);
  z-index: 20;
  height: 127px;
  border-radius: 30px;

}
.box-info{
>>>>>>> devyair
  grid-area: box-info;
}